<%- include('./components/header') %>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>The Parser</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 p-3">
				Welcome to the SCATA Standards Team Logbook Converter!
			</div>
		</div>
	</div>
<%- include('./components/footer') %>

